.navbar{
    height: 80px;
    width: auto;
    padding: 0 80px;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.2);
}
.navbar-logo{
    height: 64px;
    width:118px;
}
.navbar-logo img{
    width: 118px;
    height: 64px;

}
.nav-sign-login a{
    color: black;
    padding: 0 0 0 20px;
    font-size: 14px;
    font-weight: 600;
}