.form-bg-img{
    position: absolute;
    right: 80px;
    top:128px;
    z-index: -1;
    height: 534px;
    width: 840px;
    border-radius:10px;
}   
.container-inner{
    height: 400px;
    width: 400px; 
    background-color: white;
    position: absolute;
    left:80px;
    top:168px;
    padding: 32px;
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 8px;
}
.container-inner h1{
    font-size: 32px;
}
.container-inner p{
    font-size: 16px;
    margin-right: 10px;
}
.form{
   width:354px;
   height: 252px;
}
.location{
    display: flex;
    flex-direction: column;
    width:385px;
    height: 45px;
    border: 1px solid grey;
    border-radius: 10px;
    padding-left: 10px;
    padding-top: 9px;  
    margin-top: 15px;
}
.location label{
    font-size: 10px;
    font-weight: 600;
}
.location input{
    border: none;
    font-size: 17px;
    font-weight: 200;
    color:grey;
    margin-top: 3px;
}
.location input:focus{
    outline:none;
}
.check-in-out{
    margin-top: 10px;
}
.check-in-out{
    display: flex;
    gap:84px;
    width:385px;
    height: 45px;
    border: 1px solid grey;
    border-radius: 10px;
    padding-left: 10px;
    padding-top: 5px;  
}
.checkin{
    display: flex;
    flex-direction: column;
}
.checkout{
    display: flex;
    flex-direction: column;
    border-left: 1px solid grey;
    height: 38px;
    padding-left: 10px;
}
.checkin label{
    font-size: 10px;
    font-weight: 600;
}
.checkin input{
    border: none;
    font-size: 17px;
    font-weight: 100;
    color:grey;
    width: 100px;
    margin-top: 3px;
}
.checkin input:focus{
    outline: none;
}
.checkout input{
    border: none;
    font-size: 17px;
    font-weight: 200;
    color:grey;
    width: 100px;
    margin-top: 3px;
}
.checkout input:focus{
    outline: none;
}
.checkout label{
    font-size: 10px;
    font-weight: 600;
}
.input-numbers{
    display: flex;
    gap:84px;
    width:385px;
    height: 45px;
    border: 1px solid grey;
    border-radius: 10px;
    padding-left: 10px;
    padding-top: 5px; 
    margin-top: 10px;
}
.adults{
    border: none;
    font-size: 17px;
    font-weight: 200;
    width: 100px;
    margin-top: 3px;
    display: flex;
    flex-direction: column;
}
.adults select{
    width: 175px;
    cursor: pointer;
}
.adults select:focus{
    outline: none;
}
.childrens{
    border: none;
    font-size: 17px;
    font-weight: 200;
    width: 100px;
    margin-top: 3px;
    display: flex;
    flex-direction: column;
    border-left: 1px solid grey;
    height:37px;
    padding-left: 10px;
}
.adults label{
    font-size: 10px;
    font-weight: 600;
}
.childrens label{
    font-size: 10px;
    font-weight: 600;
    border: none;
}
.childrens select{
    width: 180px;
    border: none;
    cursor: pointer;
}
.childrens select:focus{
    outline: none;
}
.adults select{
    border: none;
}
.submit-btn{
    width: 396px;
    height: 48px;
    background-color:#ff385c;
    color: white;
    border: none;
    border-radius: 10px;
    margin-top: 15px;
    cursor: pointer;
}
